
body{
    /*background-image: linear-gradient(white,white,white, rgb(0, 213, 255));*/
    /*background-color: rgb(188, 238, 255);*/
    background: url('../images/airline-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
  background-image: linear-gradient(grey,white,rgb(0, 213, 255));
  max-width: 100%;
  max-height: 100%;
    
}
header img{
  max-width:auto;
  max-height:auto;
  margin: .25em;
  position: relative;
}
/*@media screen and (max-width: 360px) {
header img {
  max-width: 50px;
}
}*/
/*header table{
 max-width: 100%;
      
}*/

header h1{
  text-align: right;
 margin-top: 20%;
  vertical-align: bottom;
  color: blue;
  position: relative;
  font-size: 2vw;
}
.myBox{
  border-bottom: 5px solid;
  border-bottom-color: color-mix(in srgb-linear, white 30%, orange 70%) ;
   
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    border-bottom: 1px solid blue;
   }
   input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
 
input[type="email"],
input[type="password"],    
  input:valid {
    background-color: palegreen;
  }
  
  input:invalid {
    background-color: lightpink;
  }

  .button {
    background-color: #2b04aa; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  .security {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
  }





footer{

}


.warning {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    border-top: 1px; 
    padding: 10px;
    border-top: 1px solid blue;
  }
