@import url("mobilestyle.css");
@import url("tabletstyle.css");

body{
    /*background-image: linear-gradient(white,white,white, rgb(0, 213, 255));*/
    background-color: rgb(188, 238, 255);
}
.emailvalidation {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    border-bottom: 1px solid blue;
   }
.center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    border-bottom: 1px solid blue;
   }
   input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
    
  input:valid {
    background-color: palegreen;
  }
  
  input:invalid {
    background-color: lightpink;
  }
  .button {
    background-color: #2b04aa; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
header {
    background-image: linear-gradient(grey,white,rgb(0, 213, 255));
    max-width: 3000px;
    width: 100%;
    height: auto;
      
}

.myBox{
   border-bottom: 5px solid;
   border-bottom-color: color-mix(in srgb-linear, white 30%, orange 70%) ;
   }

header img{
   
    width: 100%;
    height: auto;
    max-width: 150px;
    margin: .25em;
}
header table{
    width: 50%;
        
}
 header h1{
    text-align: justify;
   margin-top: 20%;
    vertical-align: bottom;
    color: blue;
}


